    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://missioncollege.edu/"> Mission College All rights reserved.</a>
    </div>
    
    <div class="footer-copyright text-center py-3">
        <p></p>
        <i>Developed by Tri Do - Anh Nguyen</i>    
    </div>
</body>
</html>