<% include top/header %>
<h2 class="title-box-form">Select Subject & Activity</h2>
<div class="container">
    <div class="box-form">

        <form method="POST" action="/categories/show-tutors-days-times">
            <!-- date picker -->
            <div class="form-group required">
                <div class="input-group datepick">
                    <input type="text" class="form-control" name="datepick" id="frmSaveOffice_startdt"
                        required readonly>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
            <!-- dropdown menu -->
            <select class="form-control" name="dropdownSubject">
                <% subject.forEach(el => { %>
                <option id="<%= el.label %>" value='{"id": "<%= el.id %>", "subject": "<%= el.title %>"}'>
                    <%= el.title %>
                </option>
                <% }); %>
            </select>
            <!-- single day or multiple days -->
            <div class="radio">
                <label>
                    <input type="radio" name="option" value="singleday" checked>
                    <strong>Single-day View (All Tutors)</strong>
                </label>
                <label>
                    <input type="radio" name="option" value="multiday">
                    <strong>Multi-day View (Single Tutor)</strong>
                </label>
            </div>
            <div class="form-group btn-margin" style="margin-bottom:8px">
                <input class="btn btn-primary form-control" type="submit" value="Next">
            </div>
            <a href="/categories" class="btn btn-primary form-control">Back</a>
            <div class="form-group">

            </div>
        </form>
    </div>
</div>



<!-- Date picker -->
<script>
    // format datedate picker 
    
    $(document).ready(function () {
        var date = new Date();
        var tomorrow = new Date(date.getFullYear(), date.getMonth(), (date.getDate() + 1));
        let formatedDate = '';
        $('.datepick').datetimepicker({
            format: "dddd MM/DD/YYYY",
            ignoreReadonly: true,
            minDate: tomorrow,
            disabledDates: [date]
        });

        var weekday = new Array(7);
        weekday[0] = "Sun";
        weekday[1] = "Mon";
        weekday[2] = "Tue";
        weekday[3] = "Wed";
        weekday[4] = "Thu";
        weekday[5] = "Fri";
        weekday[6] = "Sat";

        // default date when user not select date
        let d = new Date();
        let defaultdate = d.getDate() + 1;
        let defaultdayOfWeek = weekday[d.getDay() + 1];
        let defaultmonth = d.getMonth() + 1;
        let defaultyear = d.getFullYear();

        formatedDate = defaultdayOfWeek + ' ' + defaultmonth + '/' + defaultdate + '/' + defaultyear;

        // when user pick the date
        $('.datepick').on('dp.change', (ev) => {
            let unformatDate = $('.datepick').data('DateTimePicker').date()['_d'];
            let d = new Date(unformatDate);
            defaultdate = d.getDate();
            defaultdayOfWeek = weekday[d.getDay()];
            defaultmonth = d.getMonth();
            defaultyear = d.getFullYear();
            formatedDate = defaultdayOfWeek + ' ' + defaultmonth + '/' + defaultdate + '/' + defaultyear;
        })
    });
</script>






<% include bottom/footer %>
