<% include top/header %>
<div class="container">
    <div class="jumbotron">
            <div class="banner">
                <img src="https://asc-lab.missioncollege.edu/scheduler/Images/ESI133.png" style="margin: 0 auto " class="thumbnail img-responsive" />

                <p class="text-center login-btn-landing">
                    <a href="/login" class="btn btn-primary">
                        <span class="ui-button-text">Login</span>
                    </a>
                </p>
                <p class="text-center">
                    To get started, press Log In.
                    If you do not have a current ID and password, please contact your center to get added as a Student
                </p>
            </div>
        </div>
    </div>
</div>

<% include bottom/footer %>
